<html>

  <head>
    <title>Index</title>
  </head>

  <body>

    <div id="main" class="experiments">
      <div class="no-layout">
        <h1 class="serif">A speed comparison between res.render() and res.write()</h1>
        <section>
          <p>
            <a href="/no-stream">No Stream</a>
          </p>
          <p>
            <a href="/stream">Stream</a>
          </p>
          <p>
            <a href="/stream2">Stream Middleware</a>
          </p>
        </section>
      </div>
    </div>

  </body>

</html>
