<html>

  <head>
    <title>express-stream</title>
  </head>

  <body>

    <div id="main" class="experiments">
      <div class="no-layout">
        <h1 class="serif">A speed comparison between res.render() and res.write() using express-stream</h1>
        <p>Be sure to disable your browser's cache in its developer tools to see the best performance comparison</p>
        <section>
          <p><a href="/no-stream">No stream</a></p>
          <p><a href="/manual-stream">Stream manually</a></p>
          <p><a href="/express-stream">Stream with express-stream</a></p>
          <p><a href="/express-stream-pipe">Stream like BigPipe</a></p>
          <p><a href="/express-stream-pipe-view">Stream like BigPipe using a view file</a></p>
          <hr/>
          <p><a href="https://github.com/jpodwys/express-stream-demo">Check out the code!</a></p>
        </section>
      </div>
    </div>

  </body>

</html>
