<html>

  <head>
    <title>Index</title>
  </head>

  <body>

    <div id="main" class="experiments">
      <div class="no-layout">
        <h1 class="serif">A speed comparison between res.render() and res.write() using express-stream</h1>
        <section>
          <p>
            <a href="/no-stream">No stream</a>
          </p>
          <p>
            <a href="/manual-stream">Stream manually</a>
          </p>
          <p>
            <a href="/express-stream">Stream with express-stream</a>
          </p>
          <hr/>
          <p>
            <a href="https://github.com/jpodwys/express-stream-demo">Check out the code!</a>
          </p>
        </section>
      </div>
    </div>

  </body>

</html>
