<html>

  <head>
    <title>Stream</title>
    <style>/*.loaded{display:none;}*/</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.5.1/mootools-yui-compressed.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  </head>

  <body>

    <header style="background-color:#00FFFF">
      This is a header
    </header>

    <div class="loaded">
      <div class="no-layout">
        <h1 class="font21 serif"></h1>
        <section class="basic">
          <p>
            I like to program.
          </p>
        </section>
      </div>
    </div>

    <br/><br/><br/><br/>
    <div id="load"></div>

    <script>
      window.addEventListener("load", function() {
        setTimeout(function() {
          var t = window.performance.timing;
          var num = (t.loadEventEnd - t.navigationStart) / 1000;
          var str = num.toString().substring(0, 4);
          var output = 'Load Time: ' + str + ' seconds';
          document.getElementById('load').innerHTML = output;
        }, 0);
      }, false);
    </script>

    Bacon ipsum dolor amet chicken ham hock brisket pork chop tongue venison beef ribs bacon beef boudin ball tip short ribs landjaeger strip steak shoulder. Flank landjaeger pork loin bresaola tenderloin ham cupim. Kielbasa picanha doner andouille shoulder beef swine jerky alcatra tail tongue landjaeger boudin. Pork chop hamburger picanha tongue, chicken short loin pastrami cupim pork loin jowl pork belly tail. Salami tri-tip flank, beef ribeye frankfurter shankle pork prosciutto ham. Brisket chicken ribeye sirloin frankfurter, cupim chuck bacon bresaola.

    Meatball frankfurter kevin, ground round porchetta andouille meatloaf pork chop chicken fatback ham landjaeger tail shank venison. Kevin cow pork loin, brisket drumstick capicola pork porchetta ham hock meatloaf shoulder jerky swine. Meatloaf shankle capicola jowl, strip steak shoulder porchetta beef ribs bresaola. Pork belly brisket tenderloin, filet mignon biltong pork loin tri-tip turducken cow. Filet mignon pork chop alcatra, andouille tenderloin beef landjaeger flank tongue swine turkey shank. Ham hock cow kielbasa fatback, prosciutto hamburger kevin turkey. Kevin hamburger ribeye ground round tri-tip t-bone filet mignon corned beef pork chop.

    Tenderloin pork chop pork belly ground round bresaola sirloin turducken cupim corned beef prosciutto beef ribs. Cupim meatloaf boudin andouille, strip steak cow tongue shank chicken sirloin tenderloin spare ribs swine hamburger biltong. Corned beef porchetta jowl ribeye doner filet mignon. Cow landjaeger flank venison doner pork loin.

    Short loin kielbasa t-bone porchetta cupim chicken short ribs hamburger. Kevin turducken prosciutto doner jowl short ribs. Drumstick meatball rump pig, shoulder shankle pork chop pastrami bresaola pork loin chicken. Swine doner ribeye biltong. T-bone rump chicken shank landjaeger.

    Drumstick tail kielbasa strip steak ham hock. Salami spare ribs meatball strip steak pork chop, sausage hamburger ham hock chicken doner sirloin biltong. Shoulder hamburger tenderloin picanha flank, porchetta corned beef jerky doner bacon pork chop. Tri-tip sausage corned beef doner salami hamburger turducken kielbasa frankfurter andouille kevin pork belly. Pork loin shank tri-tip salami. Meatball bacon strip steak, pastrami shoulder pork belly jerky porchetta kielbasa salami swine venison.
  </body>
<html>
