<html>

  <head>
    <title>No Stream</title>
    <style>.loaded{display:none;}</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script>
      $(window).load(function(){
        $('.loaded').show();
      });
    </script>
  </head>

  <body>

    <header style="background-color:#00FFFF">
      This is a header
    </header>
