    <div class="loaded">
      <div class="no-layout">
        <h1 class="font21 serif">Joe Podwys</h1>
        <section class="basic">
          <p>
            I like to program.
          </p>
        </section>
      </div>
    </div>

    <br/><br/><br/><br/>
    <div id="load"></div>

    <script>
      window.addEventListener("load", function() {
        setTimeout(function() {
          var t = window.performance.timing;
          var num = (t.loadEventEnd - t.navigationStart) / 1000;
          var str = num.toString().substring(0, 4);
          var output = 'Load Time: ' + str + ' seconds';
          document.getElementById('load').innerHTML = output;
        }, 0);
      }, false);
    </script>
